{'major': 'Electrical Engineering',
'min_credits': 120,
'requirements': [
    {
        'type': 'requirements',
        'description': 'Mathematics',
        'requirements': [
            {
                'type': 'sub-requirement',
                'filter': 'list',
                'val_type': 'min_courses',
                'val_value': 1,
                'description': 'MATH 221 or MATH 217',
                'courses': [{'MATH 221': 5}, {'MATH 217': 5}]
        
        }
            {
                'type': 'sub-requirement',
                'description': 'MATH 222'
                'filter': {'list': ['MATH 222']}
                'val_type': 'min_courses',
                'val_value': 1
        }
            {
                'type': 'sub-requirement',
                'description': 'MATH 234'
                'filter': {'list': ['MATH 234']}
                'val_type': 'min_courses',
                'val_value': 1                
        }
            {
                'type': 'sub-requirement',
                'description': 'Probability and Statistics Elective',
                'filter': {'list': ['STAT 311', 'STAT/​M E  424', 'MATH/​STAT  431', 'E C E 331']}
                'val_type': 'min_courses',
                'val_value': 1
        }
}
    {
        # for replacements like these, i must state the "exact requirements" that it replaces
        # use the "description" fields from other requirements to identify requirements to replace
        # fulfilling this "replacement" requirement means that
        # "math 234" requirement and "advanced math requirements are both being fulfilled
        # at the same time, the remaining credits can be count towards "Professional Elective Credit"
        'description': 'MATH 375 and MATH 376',
        'filter': 'list'
        'val_type': 'replacement',
        'courses': ['MATH 375', 'MATH 376'],
        'replaced': ['MATH 234', 'Advanced Math Auxilary', 'Professional Elective Credit']
}
    {
        'type': 'required',
        'description': 'Science',
        'requirements': [
            {
                'req_type': 'courses'
                'val_type': 'required',
                'description': 'COMP SCI 300',
                'courses':['COMP SCI 300']
        }
            {
                'req_type': 'courses',
                'val_type': 'options',
                'description': 'PHYSICS 201, 207, or 247',
                'courses': ['PHYSICS 201', 'PHYSICS 207', 'PHYSICS 247'],
                'required': 1
        }
            {
                'req_type': 'courses',
                'val_type': 'options',
                'description': 'PHYSICS 202, 208, or 248',
                'courses': ['PHYSICS 202', 'PHYSICS 208', 'PHYSICS 248'],
                'required': 1
        }
            {
                'req_type': 'courses',
                'val_type': 'options',
                'description': 'CHEM 103, 104, or 109',
                'courses': ['CHEM 103', 'CHEM 104', 'CHEM 109'],
                'required': 1
        }
            {
            # fulfilling this requirement means that it automatically fulfills
            # the "Physics 201, 207, or 247" requirement
            # 
            # this is similar to a val_type of "required" since we have to take
            # all the courses from the list "courses".
            # same for the earlier math 375 and 376
                'req_type': 'courses',
                'val_type': 'replacement',
                'courses': ['E M A 201', 'E M A 202'],
                'replaced': 'PHYSICS 201, 207, or 247'
        }
    {
        'req_type': 'courses',
        'val_type': 'replacement',
        'description': 
    {
        'type': 'required',
        'description': 'EE Advanced Electives',
        'requirements':[
            'min_credits': 22,
            {
                'type': 


]

